.about-wrapper {
    display: flex;
    border-radius: 20px;
    width: 100%;
}

/* left flex */

.about-wrapper .left {
    display: block;
    flex-basis: 70%;
}

.about-wrapper .left img {
    flex-basis: 100%;
    width: 100%;
    height: 100vh;
}

.about-wrapper .left .overlay {
    width: 100vw;
    height: 100vh;
    right: 29.7vw;
    bottom: 0.2vh;
    position: fixed;
}


/* right flex */

.about-wrapper .right .member-wrapper {
    margin-left: 50px;
    margin-top: 30px;
}


/* card */

.card-member {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 15px;
}

.card-desc {
    text-align: center;
}

.card-member:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
img {
    border-radius: 5px 5px 0 0;
}
  
.container-about {
    padding: 2px 16px;
    text-align: center;
}

.btn-icons{
    background-color: #8d9bcf !important;
    border-color: #0e30d8 !important;
    color: white !important;
    font-weight: 500 !important;
}
  
.btn-icons {
    background-color: #ffff !important;
    border-color: #1d13dc !important;
    color: #5fa9e1 !important;
    font-weight: 500 !important;
}
  
.btn-icons:hover {
    background-color: #717ec1 !important;
    color: white !important;
}
  
.btn-icons:hover {
    background-color: #5ab8ce !important;
}