.search-component{
    position: absolute;
    margin-top: 300px;
    margin-left: 200px;
    background: #2c3441;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
  }
  
  .search-component input{
    width: 200px;
    padding: 0 10px;
    border: none;
    outline: none;
    background:none;
    font-size: 1.1rem;
    line-height: 40px;
    color: #fff;
    }