.card-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 260px;
    height: 323px;
    margin: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-wrapper .link-url {
    text-decoration: none;
    box-shadow: 0.2px 0.4px 10px 2px rgb(168, 168, 168);
}

.card-wrapper .box-overlay {
    width: 240px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
  }

  /* Background Province */

  .card-wrapper .bg-bali {
    background-image: url('../../assets/images/bg-bali.jpg');
  }
  .card-wrapper .bg-jawabarat {
    background-image: url('../../assets/images/bg-jawabarat.jpg');
  }
  .card-wrapper .bg-jawatimur {
    background-image: url('../../assets/images/bg-jawatimur.jpg');
  }
  .card-wrapper .bg-bg-jawatengah {
    background-image: url('../../assets/images/bg-jawatengah.jpg');
  }
  .card-wrapper .bg-lombok {
    background-image: url('../../assets/images/bg-lombok.jpg');
  }
  .card-wrapper .bg-kaltim {
    background-image: url('../../assets/images/bg-kaltim.jpg');
  }
  .card-wrapper .bg-sulawesi {
    background-image: url('../../assets/images/bg-sulawesi.jpg');
  }
  /* Background Province End*/


  .card-wrapper .box-overlay  .text-overlay {
    background-color: rgba(45, 45, 45, 0.196);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    border-radius: 8px;
    transition: all 1s;
  }
  
  .card-wrapper .box-overlay  .text-overlay:hover {
    opacity: 0;
    transform: scale(1.6);
  }

  .card-wrapper .box-overlay  .text-overlay .text{
    color: white;
    font-size: 30px;
  }

  .card-wrapper .link-url {
    overflow: hidden;
    border-radius: 8px;
}

  .card-wrapper:hover .box-overlay, .card-wrapper:active .box-overlay {
    transform: scale(1.5);
    transition: all 3s;
  }