.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.192);
}

.navbar-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.brand-logo {
    width: 68px;
    height: 68px;
}

.collapse-nav .nav {
    display: flex;
    align-items: center;
}

.collapse-nav .nav .nav-item {
    padding: 6px 10px;
}

.collapse-nav .nav .nav-item .nav-link {
    padding: 10px 20px;
    border-radius: 24px;
}

.collapse-nav .nav .menu-wrapper .nav-item .nav-link:hover {
    color: rgb(255, 255, 255);
    background-color: #39638bc4;
}


.collapse-nav .nav .login-item .nav-link {
    color: black;
    border: 2px solid rgb(184, 184, 184);
    border-radius: 28px;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
}

.collapse-nav .nav .login-item .nav-link:hover {
    color: white;
    background-color: #39648b;
}


.collapse-nav .menu-wrapper {
    display: flex;
    margin: 0 120px;
    background-color: rgb(255, 255, 255);
    border-radius: 34px;
    padding: 2px 16px;
}

.collapse-nav .nav-wrapper .nav-item {
    margin: 0 20px;
}