/* .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.192);
} */

.nav-link {
    font-size: 17px;
    color: black;
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: 494;
}

.nav-link:hover {
    color: rgb(75, 80, 83) !important;
    font-weight: 500;
}

.dropdon-click:active {
    background-color: rgb(255, 255, 255) !important;
}

.auth-item {
    border-radius: 10px;
    margin: 0 6px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.login-item {
    border: 1.5px solid rgb(182, 182, 182);
}

.auth-item:hover {
    font-weight: 496;
    color: white !important;
    background-color: rgb(78, 130, 170);
}


.navigation-mlaku {
    margin-left: 40px;
}

.user-profile-setting {
    margin-right: 46px;
}


@media screen and (max-width: 767px) {
    .item-navigation-wrapper {
        margin: 10px 10px;
    }

    .nav-link {
        border-radius: 0px;
        margin: 0px;
    }

    .nav-link:hover {
        background-color: rgb(255, 255, 255);
    }

    .auth-item {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .auth-item:hover {
        font-weight: 494;
        color: rgb(62, 62, 62) !important;
        border-radius: 0px;
        font-weight: 500;
        background-color: rgb(255, 255, 255);
    }

    .login-item {
        border: 0;
    }
    
    .navigation-mlaku {
        margin-left: 0px;
    }
    
    .user-profile-setting {
        margin-right: 0px;
    }
  }