.add-object-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1154px !important;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    /* box-shadow: 3px 2px 10px 0px rgb(224, 224, 224); */
}

.add-object-wrapper .form-wrapper {
    display: flex;
    max-width: 1154px;
    align-items: center;
    justify-content: center;
}