@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');


.main {
    width: 100%;
    margin: 0 auto;
}

.addGambarContainer{
justify-content: center;
align-items: center;
text-align: center;
text-decoration: none;
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
margin: 16px;
border: 0.2px dashed black;
border-radius: 32px;
width: 1152px;
height: 320px;
margin-left: 150px;
color: #2155CD;
}

.icon {
font-size: 40px;
padding: 5px;
cursor: pointer;
}

.addGambarContainer h5 {
  margin: 10px;
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  margin-top: auto;
}

.containerKiri {
  position: relative;
  display: flex;
  flex-direction: column;
}

.containerKiri #judul {
  position: relative;
  font-family:'Roboto Flex', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

.dropdownContainer {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin-top: 40px;
  flex: none;
}

.dropdown2 {
  margin-left: 50px;
} 

/* Input */
.input-group {
  position: relative;
  margin-top: 40px;
}

/*Input One*/
.inputOne {
  padding: 10px;
  width: 544px;
  height: 48px;
  border: 1.5px solid black;
  border-radius: 12px;
  font: inherit;
  color:black;
  background-color: transparent;
}

.input-label-one {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: transform 0.25s;
}

.inputOne:focus+.input-label-one,
.inputOne:valid+.input-label-one{
  transform: translate(10px, -14px) scale(.8);
  color: whitesmoke ;
  padding-inline: 5px;
  background-color: #242329;
}

.inputOne:is(:focus, :valid) {
  outline-color: black;
}

/*Input Label 2*/
.inputTwo {
  padding: 10px;
  width: 544px;
  height: 128px;
  border: 1.5px solid black;
  border-radius: 12px;
  font: inherit;
  color:black;
  background-color: transparent;
 
}

.input-label-two {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: transform 0.25s;
}

.inputTwo:focus+.input-label-two,
.inputTwo:valid+.input-label-two{
  transform: translate(10px, -14px) scale(.8);
  color: whitesmoke ;
  padding-inline: 5px;
  background-color: #242329;
}

.inputTwo:is(:focus, :valid) {
  outline-color: black;
}

.jamOperasi {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin-top: 40px;
  flex: none;
}

.jamOperasi #jamBuka {
  font-family:'Roboto Flex', sans-serif;
  font-weight: 700;
font-size: 20px;
line-height: 20px;
color: black;
}

.jamOperasi #jamTutup {
    font-family:'Roboto Flex', sans-serif;
    font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: black;
    
}


.dropdown4 {
  margin-left: 50px;
} 

/* Container Kanan */
.containerKanan {
  margin-top: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.containerKanan #hariBuka {
  position: relative;
  font-family:'Roboto Flex', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
}

.jadwalBuka {
  margin: 5px;
}
.jadwalBuka span {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.jadwalBuka #harisatu {
  display: flex;
  padding: 12px 22px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 64px;
  justify-content: center;
align-items: center;
}

.jadwalBuka #haridua {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 64px;
  margin-left: 50px;
  justify-content: center;
align-items: center;
}

.jadwalBuka #haritiga {
  display: flex;
  padding: 12px 16px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 64px;
  justify-content: center;
align-items: center;
}

.jadwalBuka #hariempat {
  display: flex;
  flex-direction: column;
  padding: 12px 22px;
  border-radius: 64px;
  background: rgba(33, 85, 205, 0.08);
  margin-left: 50px;
  color: #2155CD;
justify-content: center;
align-items: center;
}

.contactPerson {
 position: relative;
}

.contactPerson h4 {
  font-family:'Roboto Flex', sans-serif;
}


.inputContainer1{
  display: flex;
  position: relative;
  margin-left: 80px;
  margin-top: -15px;
}

#addIcon1:hover {
  transform: rotate(360deg)
  scale(0.8) ;
}

#addIcon1{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  position: absolute;
  color: #21dfcd;
  width: 60px;
  height: 60px;
  font-size: 1.3rem;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

/*Nama*/

/*input nama 1*/
.inputnama1 {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1.5px solid black;
  font: inherit;
  color:black;
  background-color: transparent;
  width: 236px;
 height: 48px;
 border-radius: 12px;
 justify-content: center;
}

.input-label-name1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: transform 0.25s;
}

.inputnama1:focus+.input-label-name1,
.inputnama1:valid+.input-label-name1{
  transform: translate(10px, -14px) scale(.8);
  color: whitesmoke ;
  padding-inline: 5px;
  background-color: #242329;
}

.inputnama1:is(:focus, :valid) {
  outline-color: black;
}

/*input hp 1*/
.inputhp1 {
  padding: 10px;
  border: 1.5px solid black;
  font: inherit;
  color:black;
  background-color: transparent;
  width: 236px;
 height: 48px;
 border-radius: 12px;
 justify-content: center;
}

.input-label-hp1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: transform 0.25s;
}

.inputhp1:focus+.input-label-hp1,
.inputhp1:valid+.input-label-hp1{
  transform: translate(10px, -14px) scale(.8);
  color: whitesmoke ;
  padding-inline: 5px;
  background-color: #242329;
}

.inputhp1:is(:focus, :valid) {
  outline-color: black;
}

#inputhp1 {
  margin-left: 20px;
}

.button1 {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 20px;
  width: 600px;
  height: 50px;
  background-color: #202231;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
  transition: width .5s,
  border-radius .5s; 
}

.button1 * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .25s;
}

#icon1 {
  opacity: 0;
}

.button1:focus {
  width: 50px;
  background-color: #037367;
  border-radius: 50%;
}

.button1:focus .text {
  opacity: 0;
}

.button1:focus #icon1 {
opacity: 1;
transition-delay: .5s;
}

/*SEWA TOURGUIDE*/

.sewaTourGuide {
  position: relative;
  margin-top: 20px;
 }
 
 .sewaTourGuide h4 {
   font-family:'Roboto Flex', sans-serif;
 }

 .inputContainer2{
  display: flex;
  position: relative;
  margin-left: 80px;
  margin-top: -15px;
}

 

#addIcon2{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  position: absolute;
  color: #21dfcd;
  width: 60px;
  height: 60px;
  font-size: 1.3rem;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

#addIcon2:hover {
  transform: rotate(360deg)
  scale(0.8) ;
}


/*input nama 2*/
.inputnama2 {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1.5px solid black;
  font: inherit;
  color:black;
  background-color: transparent;
  width: 236px;
 height: 48px;
 border-radius: 12px;
 justify-content: center;
}

.input-label-name2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: transform 0.25s;
}

.inputnama2:focus+.input-label-name2,
.inputnama2:valid+.input-label-name2{
  transform: translate(10px, -14px) scale(.8);
  color: whitesmoke ;
  padding-inline: 5px;
  background-color: #242329;
}

.inputnama2:is(:focus, :valid) {
  outline-color: black;
}

/*input hp 2*/
.inputhp2 {
  padding: 10px;
  border: 1.5px solid black;
  font: inherit;
  color:black;
  background-color: transparent;
  width: 236px;
 height: 48px;
 border-radius: 12px;
 justify-content: center;
}

.input-label-hp2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: transform 0.25s;
}

.inputhp2:focus+.input-label-hp2,
.inputhp2:valid+.input-label-hp2{
  transform: translate(10px, -14px) scale(.8);
  color: whitesmoke ;
  padding-inline: 5px;
  background-color: #242329;
}

.inputhp2:is(:focus, :valid) {
  outline-color: black;
}




/* Button Save */
.save {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  position: relative;
  margin-bottom: 50px
}





