.detail-wrapper-culinary {
    max-width: 1180px !important;
    align-items: left;
    justify-content: left;
    margin: 80px 0;
}

.detail-wrapper-culinary .image-wrapper-culinary {
    display: flex;
}

.detail-wrapper-culinary .image-wrapper-culinary img {
    width: 98%;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0px 2px 12px 6px rgb(210, 210, 210);
}

.detail-wrapper-culinary .information-culinary-desc {
    text-align: justify;
}