@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');


  .hero_title {
    font-family: 'Roboto Flex', sans-serif;
    position: absolute;
    width: 544px;
    height: 128px;
    left: 144px;
    top: 180px;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
  }

  .hero_tagline {
    position: absolute;
width: 544px;
height: 72px;
left: 752px;
top: 208px;
font-family: 'Roboto Flex';
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: grey;
  }

.main {
    width: 100%;
  margin: 0 auto;
  flex: 1;
}


.barContainer {
  display: inline-flex;
  min-height: 100vh;
}

.search-box{
  position: absolute;
  margin-top: 300px;
  margin-left: 300px;
  transform: translate(-50%, -50%);
  background: #2c3441;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
}

.input {
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  background:none;
  font-size: 1.1rem;
  transition: 0.5s ease;
  line-height: 40px;
  color: #fff;
}

.icon{
  color: #21dfcd;
  float: right;
  width: 40px;
  font-size: 1.3rem;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}

/* Add Bar*/
#icon:hover {
  transform: rotate(360deg)
  scale(0.8) ;
}

#icon{
  position: absolute;
  color: #21dfcd;
  width: 60px;
  height: 60px;
  margin-top: 270px;
  margin-left: 900px;
  font-size: 1.3rem;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

/**/
.containerCardAccommodation {
  margin-top: -400px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.containerCardAccommodation .boxAccommodation {
  width: 373.33px;
  height: 400px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  border-radius: 8px;
  /* untuk 3 card */
  margin-right: 40px;
  transition: all .5s; 
}


.boxAccommodation {
  background-image: url('../../assets/images/century\ park.jpg');
  width: 200px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 10px 20px rgba(0,0,0,.7);
  border-radius: 8px;
}

.boxAccommodation h1 {
  font-size: 20px;
}

.boxAccommodation p{
  font-size: 12px;
}

.boxAccommodation:hover {
  transform: translateY(20px);
}

.textAccommodation {
  background-color: rgba(0,0,0,.6);
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  text-align: center;
  border-radius: 8px;
  transition: all .5s;
}

.textAccommodation:hover {
  opacity: 1;
}

.two{
  background-image: url('../../assets/images/hoteltentram.jpg');
}
.three {
  background-image: url('../../assets/images/pacifichotel.jpg');
}