.culinary-wrapper {
    margin: 80px 0;
}

.culinary-wrapper h1 {
    color: rgb(51, 83, 108);
}

@media screen and (max-width: 576px) {
    .culinary-hero-wrapper {
        flex-direction: column-reverse;
    }

    .culinary-hero-wrapper .culinary-hero-img {
        max-width: 80%;
        height: 400px;
        object-fit: cover;
        margin-bottom: 30px;
        margin-left: 30px;
    }

}